body {
  padding-top: 70px;
  background-color: #FDFDFD !important;
}

.footer {
  height: 15px;
  font-size: 10px;
  background-color: #f5f5f5;
}

.modal {
  overflow: hidden !important;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.dropzone {
  display: block;
  outline: 2px dashed #92b0b3;
  padding: 50px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #d7cfcf;
}